[Unit]
Description=acromere-wx
After=syslog.target

[Service]
User=acm
ExecStart=java -jar /opt/acm/web/wx.acromere.com/server/acromere-wx.jar --server.port=5060
WorkingDirectory=/opt/acm/web/wx.acromere.com/server
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
